.right {
    right: 0px;
    font-weight:normal;
}
.modalLabel {
margin-bottom:5px;
}

.modalHeader {
font-weight:bold;
}

.modalBody {
 margin-bottom:5px;

}

.slds-modal__content {
  padding:5px;
}

textarea {
    width: 615px;
    height: 150px;
}


.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: #f4f6f9;
}

.ui-grid-cell.darkGrey {
   background-color: #a9a9a9 !important ;    
}

